In [1]:
import pandas as pd 
import numpy as np

To reach your google sheet, you have to give the access permission your Google Cloud Service Account Email Address

In [2]:
#READ-ONLY Access to Google Sheet
SCOPES = ['https://www.googleapis.com/auth/spreadsheets.readonly']
#YourServiceAccountFile
SERVICE_ACCOUNT_FILE = 'C:\\Users\\mert.eygi\\GoogleSheetAPIwPython\\my_google_cloud_key.json'

#YourGoogleSheetID -- 
## (long ID between two ' before edit in google sheet url) For Example: https://docs.google.com/spreadsheets/d/1K_snd3k8jwepweEV552yD_1HcXWHGGa0QI3EI0tjcqE/edit#gid=0
MY_SPREADSHEET_ID = '1K_snd3k8jwepweEV552yD_1HcXWHGGa0QI3EI0tjcqE'
#YourSheetName
MY_RANGE_NAME = 'MySheetName!A:I'

In [3]:
def get_data_google_sheet(SCOPES,SERVICE_ACCOUNT_FILE,MY_SPREADSHEET_ID,MY_RANGE_NAME):
    from googleapiclient.discovery import build
    from google.oauth2 import service_account

    creds = None
    creds = service_account.Credentials.from_service_account_file(SERVICE_ACCOUNT_FILE, scopes=SCOPES)

    service = build('sheets', 'v4', credentials=creds)
    # Call the Sheets API
    sheet = service.spreadsheets()
    result = sheet.values().get(spreadsheetId=MY_SPREADSHEET_ID,range=MY_RANGE_NAME).execute()
    #values = result.get('values', [])

    df = pd.DataFrame.from_dict(data =result['values'][1:])
    df.columns = result['values'][0]
    return df

In [4]:
df = get_data_google_sheet(SCOPES,SERVICE_ACCOUNT_FILE,MY_SPREADSHEET_ID,MY_RANGE_NAME)

file_cache is only supported with oauth2client<4.0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   No                        30 non-null     object
 1   Student Name              30 non-null     object
 2   Gender                    30 non-null     object
 3   Class Level               30 non-null     object
 4   Home State                30 non-null     object
 5   Major                     30 non-null     object
 6   Extracurricular Activity  30 non-null     object
 7   Exam Date                 30 non-null     object
 8   Grade                     30 non-null     object
dtypes: object(9)
memory usage: 2.2+ KB

In [6]:
df

,No,Student Name,Gender,Class Level,Home State,Major,Extracurricular Activity,Exam Date,Grade
0,1,Alexandra,Female,4. Senior,CA,English,Drama Club,10/15/2022,80
1,2,Andrew,Male,1. Freshman,SD,Math,Lacrosse,10/15/2022,73
2,3,Anna,Female,1. Freshman,NC,English,Basketball,10/15/2022,12
3,4,Becky,Female,2. Sophomore,SD,Art,Baseball,10/15/2022,60
4,5,Benjamin,Male,4. Senior,WI,English,Basketball,10/15/2022,26
5,6,Carl,Male,3. Junior,MD,Art,Debate,10/15/2022,78
6,7,Carrie,Female,3. Junior,NE,English,Track & Field,10/15/2022,38
7,8,Dorothy,Female,4. Senior,MD,Math,Lacrosse,10/15/2022,68
8,9,Dylan,Male,1. Freshman,MA,Math,Baseball,10/15/2022,15
9,10,Edward,Male,3. Junior,FL,English,Drama Club,10/15/2022,87
10,11,Ellen,Female,1. Freshman,WI,Physics,Drama Club,10/15/2022,83
11,12,Fiona,Female,1. Freshman,MA,Art,Debate,10/15/2022,75
12,13,John,Male,3. Junior,CA,Physics,Basketball,10/15/2022,8
13,14,Jonathan,Male,2. Sophomore,SC,Math,Debate,10/15/2022,3
14,15,Joseph,Male,1. Freshman,AK,English,Drama Club,10/15/2022,89
15,16,Josephine,Female,1. Freshman,NY,Math,Debate,10/15/2022,28
16,17,Karen,Female,2. Sophomore,NH,English,Basketball,10/15/2022,38
17,18,Kevin,Male,2. Sophomore,NE,Physics,Drama Club,10/15/2022,74
18,19,Lisa,Female,3. Junior,SC,Art,Lacrosse,10/15/2022,32
19,20,Mary,Female,2. Sophomore,AK,Physics,Track & Field,10/15/2022,22
20,21,Maureen,Female,1. Freshman,CA,Physics,Basketball,10/15/2022,23
21,22,Nick,Male,4. Senior,NY,Art,Baseball,10/15/2022,86
22,23,Olivia,Female,4. Senior,NC,Physics,Track & Field,10/15/2022,23
23,24,Pamela,Female,3. Junior,RI,Math,Baseball,10/15/2022,64
24,25,Patrick,Male,1. Freshman,NY,Art,Lacrosse,10/15/2022,35
25,26,Robert,Male,1. Freshman,CA,English,Track & Field,10/15/2022,79
26,27,Sean,Male,1. Freshman,NH,Physics,Track & Field,10/15/2022,76
27,28,Stacy,Female,1. Freshman,NY,Math,Baseball,10/15/2022,37
28,29,Thomas,Male,2. Sophomore,RI,Art,Lacrosse,10/15/2022,76
29,30,Will,Male,4. Senior,FL,Math,Debate,10/15/2022,52